<div class="container col-12 mt-2 mb-5">
    <h4>Xem lại lựa chọn chuyến bay của quý khách</h4>
    <div class="row" *ngFor="let result of flightSelection">
        <div class="col-7">
            <div class="card border-0">
                <div class="card-body">
                    <p>Lưu ý: Giá dưới đây chưa bao gồm thuế, phí</p>
                    <p>+ Phí Dịch Vụ Đặc Biệt</p>
                    <p>+ Thuế, Phí, Lệ phí & Phụ thu</p>
                    <p>Đồng tiền thanh toán là "VND", Quý khách kiểm tra kỹ đồng tiền trước khi thanh toán.</p>
                </div>
            </div>
            <br>
            <div class="d-flex row">
                <div class="col-12">
                    <div class="card border-0 mb-3">
                        <div class="card-body bg-top d-flex p-3">
                            <div class="p-4 d-flex flex-column mr-auto">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <h2>{{ result[0].departureTime }}</h2><span class="mb-2" style="font-size: 25px;">{{ result[0].departureAirportCode }}</span>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center p-4"><i class="fa fa-plane fa-3x"></i></div>
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <h2>{{ result[0].arrivalTime }}</h2><span class="mb-2" style="font-size: 25px;">{{ result[0].arrivalAirportCode }}</span>
                                    </div>
                                </div> 
                                <div class="d-flex flex-row">
                                    <span class="p-2">{{ math.floor(result[0].segments[0].durationMinutes / 60) }} tiếng {{ result[0].segments[0].durationMinutes - (math.floor(result[0].segments[0].durationMinutes / 60) * 60) }} phút</span> 
                                    <span class="p-2" *ngIf="result[0].stopoverCode == 'DIRECT'"><b>Bay thẳng</b></span>
                                </div>
                                <div class="d-flex flex-row pt-4">
                                    <a type="button" class="btn btn-primary" data-toggle="collapse" href="#{{ result[0].id}}">Xem thêm</a>                           
                                </div>                  
                            </div>                
                            <!-- <div class="p-4 bg-top d-flex flex-row mr-auto">
                                <span class="p-2">{{result.segments[0].designatorCode}} - Airbus A321</span>              
                            </div>                     -->
                            <div class="pl-5 bg-top d-flex flex-row">
                                <div class="p-4 m-5 d-flex flex-row small-card">
                                    <div class="d-flex flex-row justify-content-between" *ngFor="let resultFare of resultFares">
                                        <div class="d-flex flex-column mt-4" *ngFor="let resultTrip of resultTrips">
                                            <a *ngIf="resultFare[0].tripId == resultTrip[0].id && resultTrip[0].legIds[0] == result[0].id"><h4>{{resultFare[0].price.totalAmount | currency:'VND':'symbol':'4.0-2'}} </h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>                                        
                        </div>                               
                    </div>   
                    <div class="collapse" id="{{result[0].id}}">
                        <div class="card card-body">
                            <div>18 Thg 06, 17:45 Hà Nội</div>
                            <div>VN 217Hãng khai thác Vietnam Airlines</div>       
                            <div>Máy bay:Boeing B787</div>
                            <div>Thời gian di chuyển:2 tiếng 15 phút</div>
                            <div>18 Thg 06, 20:00 Tp. Hồ Chí Minh</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5" >
            <div class="d-flex row" *ngFor="let resultFare of resultFares">
                <div class="col-12" *ngFor="let resultTrip of resultTrips">
                    <div class="card card-body" *ngIf="resultFare[0].tripId == resultTrip[0].id && resultTrip[0].legIds[0] == result[0].id">
                        <h4>Chi tiết chuyến bay</h4>
                        <div class="card card-header mb-2" >
                            <div class="row d-flex flex-row" >
                                <div class="col-9 mr-auto" >
                                    {{result[0].departureAirportCode}}-{{result[0].arrivalAirportCode}}
                                </div>
                                <div class="col-3">
                                    {{resultFare[0].price.originalAmount | currency:'VND':'symbol':'4.0-2'}}
                                </div>
                            </div>
                        </div>
                        <div class="card card-header mb-2">
                            <div class="d-flex ">Dịch vụ bổ trợ</div>
                        </div>
                        <div class="card card-header">
                            <div class="row d-flex flex-row ">
                                <div class="col-9 mr-auto">
                                    Thuế phí và các khoản thu
                                </div>
                                <div class="col-3">
                                    {{resultFare[0].price.totalAmount - resultFare[0].price.originalAmount | currency:'VND':'symbol':'4.0-2'}}
                                </div>
                            </div>
                        </div>
                        <div class="card card-header">
                            <div class="row d-flex flex-row ">
                                <div class="col-9 mr-auto">
                                    Tổng số tiền
                                </div>
                                <div class="col-3">
                                    {{resultFare[0].price.totalAmount | currency:'VND':'symbol':'4.0-2'}}
                                </div>
                            </div>
                        </div>
                        <a role="button" class="btn btn-primary" [routerLink]="['/input-information', this.result[0].id, resultFare[0].price.originalAmount, resultFare[0].price.totalAmount, this.formReservation.flyingFrom, this.formReservation.flyingTo, this.formReservation.departing, this.formReservation.adult, this.formReservation.children, this.formReservation.travelClass]">Tiếp tục</a>              
                    </div>                   
                </div>               
            </div>
        </div>
    </div>
</div>